@mixin txtFdoBco {
    font-family: 'arial-rounded-mt-bold';
    font-weight: bold;
    font-style: italic;
    font-size: $medium;
}

@mixin btnNav {
    color: $mirojo;
    text-decoration: none;
    background-color: $miamarillo;
    font-size: $large;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 12px;
    border-color: $mirojo;
    font-family: 'colonna-mt-std';    
}

@mixin queryFormtImgTienda {
    width: 90vw;
    margin-left: 5%; 
    border-radius: $radius1; 
}