// colores
$mirojo: rgb(214, 1, 1);
$miamarillo: rgb(248, 248, 72);

// font-size
$small: 16px;
$medium: 22px;
$large: 40px;

// box modeling
$radius1: 40px;
$radius2: 50px;

// format
$mivw80: 80vw;
$mivw100: 100vw;
