/* FOOTER*/
.fondoFooter{
    background-image: url(../img/portada_facebook.png);
    background-size: cover;
    
}


/* iconos redes sociales */
  i{
    font-size: 60px;
    margin: 10%;
    bottom: 50px;
    right: 10px;
} 
.fa-square-whatsapp{
    color: green;
}
.fa-instagram{
    color: rgb(173, 58, 146);
}
.fa-facebook-f{
    color: blue;
   
}