// GRID NOTICIAS
.containerNoticias{
    display: flex; 
    .img_mixTropical2{
        border-radius: 40px;
        margin-top: 5%;
        margin-left: 10%;
        }
    @media screen and (max-width: 768px) {
        .img_mixTropical1{
         display: none;
        } 
        .img_mixTropical2{
            width: 70vw;
            margin-left: 17%;
            margin-bottom: 3%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
       
     }
}

.textoNoticias{
    display: flex;
    width: 90vw;
    justify-content: center;
    margin-left: 5%;
}




