/* noticias */

.img_mixTropical2{
    margin-top: 15%;
    border-radius: 40px;
    margin-left: 10%;
}
.textoNoticias{
    margin-top: 1%;
    margin-bottom: 10%;
}
@media screen and (max-width: 1200px) {
    .img_mixTropical1{
     visibility: hidden;
    } 
    .img_mixTropical2{
     margin-right: 100%;
     }
 }