/* Productos */
.envasePeladas{
    
    margin: 20px 0px;
    border-radius: 40px;
}
.textprod1{
    margin-top: 3%;
}
.textprod2{
    margin-top: 3%;
}
.textprod3{
    width: $mivw80;
}

.imgProductos3{
    width: $mivw80;
    margin-bottom: 5%;
    border-radius: 40px;
}

.containerTostMat{
    display: grid;
    grid-template-areas: 
    'TostYnueces MateYnueces'
    'txtmatyNueces txtmatyNueces';
    
     
}
.TostYnueces{
    margin-left: 10%;    
    border-radius: $radius2;
}
.MateYnueces{
    border-radius: $radius1;
}
.txtmatyNueces{
    @include txtFdoBco;
    margin-top: 5%;
    margin-left: 5%;
}
@media (max-width: 768px) {
    .containerTostMat{
        display: grid;
        grid-template-areas: 
        'TostYnueces'
        'MateYnueces'
        'txtmatyNueces';  
    }
    .envasePeladas{
        width: $mivw80;
        margin-left: 10%;
        border-radius: 40px;
    }
    .imgProductos3{
        margin-left: 10%;
    }
    .TostYnueces{
        width: $mivw80;
        height: 80vh;
       margin-bottom: 5%;
    }
    .MateYnueces{
        width: $mivw80;
        margin-left: 10%;
    }
    .txtmatyNueces{
        width: $mivw80;

    }
}