// Grid tienda
.containerTienda{
    display: grid;
    grid-template-areas: 
    'imgT1  TextoImgTienda1 '
    'TextoImgTienda2 imgT2'
    'imgT3 TextoImgTienda3'
    'TextoImgTienda4 imgT4';

    // /* tienda */
    .imgTienda1{
        margin-left: 15%;
        margin-top: 5%;
        border-radius: 40px; 
    }
    .imgTienda2{
        margin-left: 30%;
        border-radius: 40px; 
    }
    .imgTienda3{
        margin-left: 20%;
        border-radius: 40px; 
    }
    .imgTienda4{
        border-radius: 40px;
        margin-bottom: 10%; 
    }
    
    .TextoImgTienda{
        margin-top: 30%;
        margin-left: 20%;
    }
}

    // media query tienda
    @media (max-width: 768px) {
        .containerTienda{
            display: grid;
            grid-template-areas: 
            'imgT1'  
            'TextoImgTienda1 '
            'imgT2' 
            'TextoImgTienda2'
            'imgT3' 
            'TextoImgTienda3'
            'TextoImgTienda4' 
            'imgT4';
            .imgTienda1{
                width: 100vw;
                margin-left: 3%;
                margin-top: 5%;
                border-radius: 40px; 
            }
            .imgTienda2{
                width: 100vw;
                margin-left: 3%;
                border-radius: 40px; 
            }
            .imgTienda3{
                width: 100vw;
                margin-left: 3%;
                border-radius: 40px; 
            }
            .imgTienda4{
                width: 100vw;
                border-radius: 40px;
                margin-bottom: 10%; 
            }
        }
        
    }









