// container tienda
    @media (max-width: 768px) {
        .containerTienda{
            display: grid;
            grid-template-areas: 
            'imgTienda1'
            'TextoImgTienda1'
            'TextoImgTienda2'
            'imgTienda2'
            ;
        }
        
    }


// /* tienda */
.imgTienda1{
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 40px; 
}
.TextoImgTienda2{
    margin-left: 35%;
}
.imgTienda2{
    margin-left: 20%;
    border-radius: 40px; 
}
.imgTienda3{
    border-radius: 40px; 
}
.imgTienda4{
    border-radius: 40px;
    margin-bottom: 10%; 
}

.TextoImgTienda{
    margin-top: 30%;
}



