// /* tienda */
.imgTienda1{
    height: 80%;
    width: 80%;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 40px; 
}
.imgTienda2{
    height: 80%;
    width: 80%;
    border-radius: 40px; 
}
.imgTienda3{
    height: 60%;
    width: 80%;
    border-radius: 40px; 
}
.imgTienda4{
    height: 80%;
    width: 80%;
    border-radius: 40px; 
}

.TextoImgTienda{
    margin-top: 30%;
}



